body{
	margin: 0;
	padding: 0;
}
.pdf-container{
	border-top: 20px solid #EE6C66;
	border-bottom: 20px solid #EE6C66;
	font-family: 'Roboto', sans-serif;
	padding: 30px 60px;
}
.heading{
	display: flex;
	justify-content: space-between;
}
.tutorInvoice{
	font-size: 40px;
	font-family: 'Poppins', sans-serif;
	color: #7f7f7f;
}
/* .lidoIcon{
} */
.personalInvoiceDetail{
	display: flex;
	justify-content: space-between;
	line-height: 30px;
	font-size: 20px;
	color: #F26456;
}
.personalDetail{
	display: flex;
	flex-direction: column;
}
.invoiceDetail{
	display: flex;
	flex-direction: column;
}
.billing{
	margin-top: 30px;
	line-height: 30px;
	
}
.billingHeading
{
	min-width: 400px;
	border-bottom: 3px solid #c4bebe;
	padding-bottom: 5px;
}
.companyDetail{
	width: 350px;
	margin-top: 5px;
}
.compensationDetail{
	margin-top: 15px;
}
table{
	border-collapse: collapse;
	width: 100%;
}
td,th{
	border: 1px solid #dddddd;
	text-align: left;
	padding: 10px;
	height: 20px;
	padding-right: 10px;
}
tr:nth-child(even){
	background-color: #dddddd;
}
.totalAmount{
    font-weight: 700;
}
tr>td:nth-child(even), tr>th:nth-child(even){
	text-align: right;
}

.tableHeading{
 background-color: #F26456;
 color: white;
}
.tutorDetail{
	color: rgb(30, 30, 63);
	border-bottom: 2px solid #7f7f7f;
	font-weight: 700;
	margin: 20px 0;
	padding: 10px;
}

.bankDetail>div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	line-height: 30px;
}
.bankDetail>div span:nth-child(even){
	color: #F26456;	
}
.userName{
	color: #F26456;
    text-align: right;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 500;
}
.info{
	font-size: 17px;
	font-style: italic;
	color: #665f5f;
	margin-top: 10px;
	text-align: center;
}